        <h1>Ton Groupe hippie</h1>
        <p>Voici en lien ci dessous ta bande de potes :
            <br>
            <a href="https://media.giphy.com/media/YIpKPlml0M0Wk/giphy.gif">Allez, viens!</a>
        </p>