<!DOCTYPE html>
<html>
    <head>
        <title>contact du lundi</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Contact</h1>
        <p>call me on : <a href="https://media.giphy.com/media/3ohc12h6fY2NgArgWc/giphy.gif">0669961581</a></p>
    </body>
</html>