<!DOCTYPE html>
<html>
    <head>
        <title>essai du lundi</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Home Page</h1>
        <p>Welcome onboard</p>
        <div class="container">
        <form action="/about/toi" method="GET">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="text" name="nom_du_champ">
            <input type="submit" value="Click here brat">
        </form>
        </div>
    </body>
</html>
