<h1>Home sweet home</h1>
<p>Bienvenue sur notre super application!
<br>
Pour accéder à ton profil et celui de ton groupe, va dans l onglet About
<br>
Pour nous contacter, cela se passe via Contact
</p>